:root{
    box-sizing: border-box;
    font-size: 1em;
    font-family: 'Roboto Slab', serif;
}

body{
    width:95vw;
    height: 95vh;
    margin:1em auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image:linear-gradient(0deg,#a52a2a 0% 5%, gray 5% 12%,black 12% 13%, #D4A0A7 12% 98%,#a52a2a 98% 100% );
    background-size: cover;
}

h1{
    font-size: 4em;
}
h2{
    font-size: 1em;
}

main{
    width: 95%;
    height: 90%;
    margin:1em 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.bookShelf,.display,.input{
    width: 45%;
    height: 97%;
    padding: 0.5%;
    border:4px solid black; 
}
.bookShelf{
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 1%;
    background-image:linear-gradient(0deg,#862323 0% 1%, #a52a2a 1% 33%,
                                          #862323 33% 34%,#a52a2a 34% 66%,
                                          #862323 66% 67%,#a52a2a 67% 99%,
                                          #862323 99% 100%);
}
.display{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    text-align: start;
    font-size: 3em;
    background-color: #a52a2a;
}
.input{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    text-align: start;
    font-size: 3em;
    flex-wrap: nowrap;
    background-color: #a52a2a;
}
input{
    background-color: #D4A0A7;
    font-size: 0.75em;
}
button{
    font-size: 1em;
    font-weight: 700;
    background-color: transparent;
    border:none;
    cursor: pointer;
}
#add:hover,#remove:hover{
    text-shadow:0.0625em 0.0625em 0 #0094C6;
}
#add,#remove{
    right: 0;
    position: absolute;
}
#add{
    top:0;
}
#remove{
    bottom: 0;
}
#submit{
    opacity: 1;
    max-width:50%;
    font-size: 1em;
}
.book{
    text-align: center;
    padding: 0 25%;
    writing-mode: vertical-rl;
    text-orientation:mixed;
    font-size: 1.25em;
    outline: black solid 0.0625rem;
}
.book:hover{
    outline: #0094C6 solid 0.25rem;
}
#title,#author,#pages{
    background-color: #D4A0A7;
    outline:black solid 0.0625em;
}
.read{
    color: black;
    background-color: #99C24D;
}
.notread{
    color: white;
    background-color: #1D3461;
}
.hide{
    display: none;
}
#readDisplay{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;    
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    outline: black solid 0.0625em;
}
.material-icons{
    font-size: 48px;
    padding-left: 5%;
    cursor: pointer;
    border-left: 0.0625em solid black ;
}
.inputButtons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}